.welcome{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#F4F8FD;

padding:20px;

}

.card{

width:420px;

background:white;

border-radius:25px;

padding:40px;

box-shadow:0 20px 40px rgba(0,0,0,.08);

text-align:center;

animation:fade .8s;

}

.welcomeLogo{

width:170px;

margin-bottom:20px;

}

.card h1{

color:#2563EB;

margin-bottom:20px;

}

.card p{

line-height:30px;

color:#555;

margin-bottom:35px;

}

.card button{

width:100%;

padding:18px;

border:none;

border-radius:15px;

background:#2563EB;

color:white;

font-size:18px;

font-weight:bold;

transition:.3s;

}

.card button:hover{

transform:translateY(-3px);

background:#1D4ED8;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}